@media  screen and (max-width:320px) {
    body {
        background-position-x:40%;
        background-size:cover;
        min-height: 40vh;
        }
    .holder .candle {
        width: 60px;
        height: 80px;
        border-radius: 50px / 30px;
        position: absolute;
        bottom: 14px;
        left:5px
        }
    .flame {
            width: 20px;
            height: 30px;
            left: 50%;
            transform-origin: 50% 100%;
            transform: translateX(-50%);
            bottom: 100%;
            border-radius: 50% 50% 20% 20%;
          }
    @keyframes enlargeFlame {
        0%, 100% {
          height: 70px;
        }
        50% {
          height: 60px;
        }  
      }
        
}

